{% extends 'base.html' %}

{% block active_index %} active {% endblock %}

<!--
/************************************
* B_elieve is beautiful,
* y_ou believe,you live, *
*
* N_o one can tell you, *
* A text that comes to life. *
* T_his is wonderful, *
* H_appy is my soul, *
* A line of code that comes to life. *
* N_o one could believe in 1700. *
*
* L_ong was the road, *
* O_n the Avenue ; lots of bugs, *
* P_erfect is the result, when ; *
* E_very written word becomes an action, *
* Z_ero errors and zero bugs.
*
************************************/
-->
